/* Navbar design */
.full-nav {
  background-color: #57513c;
  padding: 10px 0;
}
.navbar-container {
  padding: 10px 0;
}

.user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 5px;
}

.navbar-container a {
  margin: 5px 10px;
  padding: 5px 10px;
  font-size: 18px;
  color: rgb(33, 7, 66);
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}
.fa-hotel {
  font-size: 30px;
  color: rgb(69, 143, 79);
  margin-right: 5px;
}
.logOut-btn {
  background-color: rgb(53, 40, 70);
  border: none;
  padding: 0 20px;
  border-radius: 10px;
  color: white;
}
.navbar-container a:hover {
  background-color: rgb(35, 47, 48);
  color: white;
}

.longin-btn {
  background-color: rgb(26, 138, 190);
  border: none;
  padding: 0 20px;
  border-radius: 10px;
  color: white;
}

/* Banner desing */
.carousel-container img {
  height: 85vh;
}

/* responsive */
@media screen and (max-width: 560px) {
  .carousel-container img {
    height: 100%;
  }
  .logOut-btn {
    padding: 10px 0;
    margin-top: 10px;
  }

  .longin-btn {
    padding: 10px 0;
    margin-top: 10px;
  }
}
@media screen and (min-width: 560px) and (max-width: 992px) {
  .carousel-container img {
    height: 100%;
  }
  .logOut-btn {
    padding: 10px 0;
    margin-top: 10px;
  }

  .longin-btn {
    padding: 10px 0;
    margin-top: 10px;
  }
}
