.ex-container {
  height: 300px;
  background-color: white;
  transition: 0.5s;
  box-shadow: 2px 4px 4px rgb(173, 167, 161);
}

.expert{
  overflow: hidden;
}
.expert img:hover {
  transform: scale(1.1);
  transition-duration: 2s;
}

.ex-container:hover {
  box-shadow: 2px 2px rgb(219, 213, 206);
}
.ex-container h5 {
  color: rgb(65, 88, 88);
}
.ex-container h6 {
  color: rgb(146, 165, 165);
}
.ex-container p {
  color: rgb(78, 92, 92);
  text-transform: uppercase;
  font-size: 14px;
}
